.search-bar {
  margin: 2em;
  text-align: center;
}

.search-bar input {
  width: 640px;
  max-width: 80%;
}

.video-detail .details {
  margin-top: 1em;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}